<%- include('../../header.ejs') %>
<section class="dashboard-wrap mtb-40">
  <div class="container">
    <div class="body-content">
      <div class="row">
        <div class="col-md-3">
          <div class="dash-left">
            <ul>
              <li class="active"><a href="dashboard.html">Dashboard</a></li>
              <li><a href="admin-blog-list.html" class="active">Blogs</a></li>
              <li><a href="/admin/About/displayabout"> Display About</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="dash-right">
            <div class="dash-header">
              <div class="dash-title">
                <h1> Display Category</h1>
              </div>
              <div class="dash-nav">
                <a href="/admin/category/createcategory" class="btn btn-success"
                  >Add Category</a
                >
              </div>
            </div>
            <table class="table table-bordered table-striped">
              <tr>
                <th>Serial</th>
               <th>category</th>
                <th>Action</th>
              </tr>
              <% var i=1 %>
              <% data.forEach((item)=>{ %>
              <tr>
                <td><%= i++ %></td>
                <td><%= item.category %></td>
                <td>
                  <a href="/admin/category/viewcategory/<%= item._id %>" class="btn btn-success btn-sm">View</a>
                  <a href="/admin/category/editcategory/<%= item._id %>" class="btn btn-info btn-sm">Edit</a>
                  <a href="/admin/category/deletecategory/<%= item._id %>" class="btn btn-danger btn-sm">Delete</a>
                </td>
              </tr>
              <% }) %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../../footer.ejs') %>
